.home-container {
  text-align: center;
  width: 100%;
}

.home-title {
  margin-bottom: 30vh;
}

.home-container img {
  width: 256px; 
  padding-right: 5vh;
  margin: 5px; 
  display: inline-block;
  vertical-align: middle;
}

.home-container img:hover {
  transform: scale(1.05);
}

.home-container::before {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}
